/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
header {
  background-color: #ffacc5;
  color: white;
  padding: 128px 16px;
  font-family:Rubik+Bubbles;
}

img {
  /* border-color: black; */
  border: solid black;
  border-radius: 15px;
  width:300px;
}
body{
  background-color: #ffacc5 ;
}
p{
  color:white;}
h1{
  color:white;}

.first-pic{
  width:400px;}